@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// Variables
$primary-color: rgb(140, 17, 145);
$secondary-color: #efc3c3;
$third-color: rgb(19, 51, 158);
$font-stack: 'Roboto', sans-serif;
$background-color: rgb(171, 206, 203);


body {
  // font: $font-stack;
  background-color: $background-color;
  margin: 0;
  padding: 0;
  color: $primary-color;
  font-family: $font-stack;
  box-sizing: border-box;

  .head-title {
    font-size: 50px;
  }

  h2 {
    font-size: 40px;
  }

  .app-container {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100vw;
  }

  .board-container {
    display: grid;
    // grid-template-columns: repeat(5, 1fr); commented out to use @media dynamic
    gap: 15px;
    height: 50vh;
    padding: 20px;
    color: $primary-color;

    // Default
    grid-template-columns: repeat(2,
        1fr);

    @media (min-width: 769px) {
      grid-template-columns: repeat(3, 1fr); // Switches to 3 columns
    }

    @media (min-width: 1025px) {
      grid-template-columns: repeat(4, 1fr); // Switches to 4 columns
    }

    @media (min-width: 1201px) {
      grid-template-columns: repeat(5, 1fr); // Finally uses 5 columns
    }
  }

  .category {
    border-radius: 10px;
    padding: 10px;
    background-color: $third-color;
    grid-template-rows: reapeat(3, 1fr);
    box-shadow: 10px 10px 5px 0px lighten($third-color, 40%);

    .card {
      border: 1px solid;
      border-radius: 10px;
      margin: 10px;
      padding: 10px;
      background-color: $secondary-color;
    }
  }
}

.category-input-container {
  display: flex;
  flex-direction: row;
  width: 100%;

  .left-content {}

  .right-content {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    button {}
  }
}